{{#if message}} {{message}} {{/if}}


<form method="post">

    <table>
        
        <tr>
            <td>Employee ID : </td>
            <td>
                <input type="text" placeholder="Enter Id" name="employeeid" required> </td>
        </tr>
        <tr>
            <td> Sin Number :</td>
            <td>
                <input type="text" placeholder="Enter Name" name="sinnumber" required>
            </td>
        </tr>
        <tr>
            <td> Name :</td>
            <td>
                <input type="text" placeholder="Enter Name" name="name" required>
            </td>
        </tr>
        <tr>
            <td> Date of Birth :</td>
            <td>
                <input type="text" placeholder="Enter Name" name="dateofbirth" required>
            </td>
        </tr>
        <tr>
            <td> E-mail :</td>
            <td>
                <input type="text" placeholder="Enter Name" name="email" required>
            </td>
        </tr>
        <tr>
            <td> Phone :</td>
            <td>
                <input type="text" placeholder="Enter Name" name="phone" required>
            </td>
        </tr>
        <tr>
            <td> Job Class :</td>
            <td>
                <input type="text" placeholder="Enter Name" name="jobclass" required>
            </td>
        </tr>
        <tr>
            <td> Annual Salary :</td>
            <td>
                <input type="text" placeholder="Enter Name" name="annualsalary" required>
            </td>
        </tr>
        <tr>
            <td> Address :</td>
            <td>
                <input type="text" placeholder="Enter Name" name="address" required>
            </td>
        </tr>
        <tr>
            <td> Hire Date:</td>
            <td>
                <input type="text" placeholder="Enter Name" name="hiredate" required>
            </td>
        </tr>
        
        

        </tr>
        <tr>
            <td>
                <input type="submit">
                  <input type="button" value="Display" onclick="window.location='display_employee'">
            </td>
        </tr>
    </table>
</form>