 |

<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
    .container {
  display: flex;
  justify-content: center;
}
.center {
  width: 800px;
}
</style>
    </head>
<body style="background-color: darksalmon;">
<div class="container" ><div class="center">
<input type="button" class="btn btn-primary" value="Add Employee" onclick="window.location='add_employee';">
<br><br>
<input class="btn btn-primary" type="button" value="View Employee Details" onclick="window.location='display_employee';"><br><br>
<input  class="btn btn-primary" type="button" value="Edit / Delete" onclick="window.location='display_employee';"><br><br>
</div></div></body>
</html>

 